.main{
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.title{
    grid-column: span 2;
}
.formSection{
    margin-top: 2rem;
    grid-column: span 2;
}

.principalList{
    margin-left: 4rem;
    grid-column: 2 / 4;
    text-align: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.favouriteList{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.selected {
    font-size: 20px;
    background-color: rgb(242, 137, 165);
    color: white;
    border-radius: 10px;
    border: 5px dotted white;
    font-weight: bold;
}

.hidden {
    display: none;
}

.notFound {
    font-size: 18px;
    color: crimson;
}

.fa-solid{
    font-size: 16px;
    width: 10px;
}

.favouriteList{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.serieFavouriteBox{
    background-color: rgb(242, 137, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &__img{
        width: 40%;
        border-radius: 10px;
        margin-top: 1rem;
    }
    &__title{
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin-top: 7px;
    }
}